table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
th {
border-bottom: 1px solid black;
}
th {
	background-color: white;
}

tr:nth-child(2n+1) {
	background-color:  lightblue;
}

td:nth-child(n+3) {
text-align: right;
}